.vscode/**
.vscode-test/**
src/**
**/*.map
**/*.ts
.gitignore
tsconfig.json
tslint.json
node_modules/typescript
node_modules/figlet
node_modules/@material-ui
node_modules/@jsonforms/react
node_modules/@jsonforms/material-renderers
node_modules/react-dom
node_modules/moment
node_modules/rxjs
